<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{pTitle}</title>
        <link href="{pCssRef}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="content" class="container_12">
        	<div id="topLineHeader" class="grid_12" >
            	To Do::Add admin menu if appropriate.
                {pTopLogin}
            </div>
            
            <div class="clear"></div>
            
            <div id="title" class="grid_12 heading" >
                {pContent}
            </div>
            
            <div class="clear"></div>
            
            <div id="topMenu" class="grid_12 horMenu">
                To Do:// Menu Here<a href="index.php?node=1">home</a> | <a href="index.php?node=2">Next Page</a>
            </div>
        </div>
    </body>
</html>
